flowsjson.json
[{"id":"6f8a997e.38ae28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b2b1705.d0d718","type":"ui_tab","name":"prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"cc2226c7.377958","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ac3cbab.c1dfc48","type":"ui_group","name":"Enter the values","tab":"5b2b1705.d0d718","order":1,"disp":true,"width":"6","collapse":false},{"id":"70bfa7d7.61f478","type":"ui_form","z":"6f8a997e.38ae28","name":"","label":"","group":"ac3cbab.c1dfc48","order":5,"width":0,"height":0,"options":[{"label":"Dependents","value":"D","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"A","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"C","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"l","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"lo","type":"number","required":true,"rows":null},{"label":"Credit_History_Available","value":"cr","type":"number","required":true,"rows":null},{"label":"Housing","value":"h","type":"number","required":true,"rows":null},{"label":"Locality","value":"loc","type":"number","required":true,"rows":null}],"formValue":{"D":"","A":"","C":"","l":"","lo":"","cr":"","h":"","loc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":180,"y":140,"wires":[["b3be1e65.3b9ab"]]},{"id":"9b6c76e.d7f4c88","type":"ui_dropdown","z":"6f8a997e.38ae28","name":"","label":"Gender","tooltip":"","place":"Select option","group":"ac3cbab.c1dfc48","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Male","value":1,"type":"num"},{"label":"Female","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":210,"y":240,"wires":[["303982ba.d730be"]]},{"id":"91fdde3f.e62c2","type":"ui_dropdown","z":"6f8a997e.38ae28","name":"","label":"Married","tooltip":"","place":"Select option","group":"ac3cbab.c1dfc48","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Married","value":1,"type":"num"},{"label":"Unmarried","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":170,"y":320,"wires":[["52ba2e44.d61cb"]]},{"id":"dd213a8a.f7be78","type":"ui_dropdown","z":"6f8a997e.38ae28","name":"","label":"Education","tooltip":"","place":"Select option","group":"ac3cbab.c1dfc48","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Educated","value":1,"type":"num"},{"label":"Uneducated","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":150,"y":400,"wires":[["b3e9f943.d45998"]]},{"id":"94a68c69.77b7a","type":"ui_dropdown","z":"6f8a997e.38ae28","name":"","label":"Self_Employed","tooltip":"","place":"Select option","group":"ac3cbab.c1dfc48","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Employed","value":1,"type":"num"},{"label":"Unemployed","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":270,"y":480,"wires":[["bb6fb2b4.bcbab"]]},{"id":"b3be1e65.3b9ab","type":"function","z":"6f8a997e.38ae28","name":"Global_Variables","func":"//global.set(\"Gender\",msg.payload.g)\n//global.set(\"Married\",msg.payload.m)\nglobal.set(\"Dependents\",msg.payload.D)\n//global.set(\"Education\",msg.payload.e)\n//global.set(\"Self_Employed\",msg.payload.s)\nglobal.set(\"ApplicantIncome\",msg.payload.A)\nglobal.set(\"CoapplicantIncome\",msg.payload.C)\nglobal.set(\"LoanAmount\",msg.payload.l)\nglobal.set(\"Loan_Term\",msg.payload.lo)\nglobal.set(\"Credit_History_Available\",msg.payload.cr)\nglobal.set(\"Housing\",msg.payload.h)\nglobal.set(\"Locality\",msg.payload.loc)\nvar apikey=\"XabUBjnJO4YDgYrcmY6775LwRROiN4e6t7Utt4DHgsWH\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["59870298.ce5acc"]]},{"id":"303982ba.d730be","type":"function","z":"6f8a997e.38ae28","name":"","func":"global.set(\"Gender\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[[]]},{"id":"52ba2e44.d61cb","type":"function","z":"6f8a997e.38ae28","name":"","func":"global.set(\"Married\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[[]]},{"id":"b3e9f943.d45998","type":"function","z":"6f8a997e.38ae28","name":"","func":"global.set(\"Education\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":400,"wires":[[]]},{"id":"bb6fb2b4.bcbab","type":"function","z":"6f8a997e.38ae28","name":"","func":"global.set(\"Self_Employed\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":480,"wires":[[]]},{"id":"59870298.ce5acc","type":"http request","z":"6f8a997e.38ae28","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":140,"wires":[["8ebeda0c.fd3808"]]},{"id":"8ebeda0c.fd3808","type":"function","z":"6f8a997e.38ae28","name":"","func":"var Gender=global.get(\"Gender\")\nvar Married=global.get(\"Married\")\nvar Dependents=global.get(\"Dependents\")\nvar Education=global.get(\"Education\")\nvar Self_Employed=global.get(\"Self_Employed\")\nvar ApplicantIncome=global.get(\"ApplicantIncome\")\nvar CoapplicantIncome=global.get(\"CoapplicantIncome\")\nvar LoanAmount=global.get(\"LoanAmount\")\nvar Loan_Term=global.get(\"Loan_Term\")\nvar Credit_History_Available=global.get(\"Credit_History_Available\")\nvar Housing=global.get(\"Housing\")\nvar Locality=global.get(\"Locality\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Gender\",\"Married\",\"Dependents\",\"Education\",\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Term\",\"Credit_History_Available\",\"Housing\",\"Locality\"]],\"values\":[[Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":140,"wires":[["b4a5247a.317f68"]]},{"id":"b4a5247a.317f68","type":"http request","z":"6f8a997e.38ae28","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/eca5622a-527d-47af-b3f5-32edf878ca3f/predictions?version=2021-07-04","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":140,"wires":[["ae684253.dc8f6","1d95a5f5.0fef0a"]]},{"id":"ae684253.dc8f6","type":"debug","z":"6f8a997e.38ae28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":260,"wires":[]},{"id":"1d95a5f5.0fef0a","type":"function","z":"6f8a997e.38ae28","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":140,"wires":[["80d2e150.8ee84","58ee94bf.e1490c"]]},{"id":"80d2e150.8ee84","type":"ui_text","z":"6f8a997e.38ae28","group":"ac3cbab.c1dfc48","order":6,"width":0,"height":0,"name":"","label":"The Prediction is","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":120,"wires":[]},{"id":"58ee94bf.e1490c","type":"debug","z":"6f8a997e.38ae28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":240,"wires":[]}]